.container {
  max-width: 600px;
  text-align: center;
  padding: 20px;
}
img {
  display: inline;
  width: 70px;
  height: 70px;
  margin-right: auto;
}
.title-1 {
  font-size: 22px;
  float: both;
}
.button {
  margin-top: 10px;
  
}
